<footer>
  <div class="social_media_container">
    <h2>Stay up to date</h2>
    <ul>
      <li>
        <a href="http://www.facebook.com" target="_blank"></a>
        <i class="fab fa-facebook"></i>
      </li>
      <li>
        <a href="http://www.twitter.com" target="_blank"></a>
        <i class="fab fa-twitter"></i>
      </li>
      <li>
        <a href="http://" target="_blank"></a>
        <i class="fab fa-linkedin"></i>
      </li>
      <li>
        <a href="http://www.youtube.com" target="_blank"></a>
        <i class="fab fa-youtube"></i>
      </li>
    </ul>
  </div>
  <div class="copy-right_container">
    {{year}} - Yevgeny Levin
  </div>
</footer>
