<div class="password_container">
  <div class="password">
    <label for="password">Password</label>
    <input type="password" id="password" [(ngModel)]="password" #passWordInput="ngModel">
  </div>

  <div class="password_strength">
    <progress [value]="passwordStrengthPercent" [max]="100"></progress>
  </div>
  <div class="password_hints" *ngIf="passWordInput.touched">
    <ul>
      <li *ngIf="!isEightCharactersOrGreater">Min length of 8 characters is required</li>
      <li *ngIf="!hasGetOneCapitalLetterOrMore">One o more capital letter is required</li>
      <li *ngIf="!hasGetOneNumberOrMore">One or more number is required</li>
      <li *ngIf="!hasOneSpecialCharacterOrMore">One or more special characters are required</li>
    </ul>
  </div>
</div>
