@import "../../../styles";
$padding: 10px 20px;
.accordion__container{
  .item{

    border-bottom: 1px solid rgba(221,221,221,0.7);

    .header{
      display: grid;
      grid-template-columns: 1fr auto;
      align-items: center;
      padding: $padding;

      i{
        color: $blue;
        transition: all 0.3s;
         &.isExpanded{
           transform: rotate(-180deg);
         }
      }
    }
    .content{
      display: none;
      padding: $padding;
      &.isExpanded{
        display: block;
      }
    }
  }

  @include box-shadow()

}
